@model SnippetCache.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
<div id="register-partial">
    <h1>Create a New Account</h1>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        <table id="registration-table">
            <tr>
                <td>
                    Use the form below to create a new account. Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </td>
            </tr>
        </table>
        <div id="register-account-submit">
            <input type="submit" value="Register" />
            @Html.ActionLink("Cancel", "All", "Public", new {area = "Snippets"}, new {id = "login-cancel-button"})
        </div>
    }
</div>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}